<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67729016727-qrnhushcahuhhsdr2s30ioff2hg28054.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67729016727-qrnhushcahuhhsdr2s30ioff2hg28054</string>
	<key>API_KEY</key>
	<string>AIzaSyCL0WWAfrybL17-cPacSeGcA6LIVg-h43k</string>
	<key>GCM_SENDER_ID</key>
	<string>67729016727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bestowing.Discussion-Korea</string>
	<key>PROJECT_ID</key>
	<string>test-3dbd4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-3dbd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67729016727:ios:dea39e65bad6afe1a1e6d2</string>
	<key>DATABASE_URL</key>
	<string>https://test-3dbd4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>